.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown ul,
.markdown ol {
  @apply space-y-3;
}

.markdown li {
  @apply ml-16;
}

.markdown ul > li {
  @apply list-disc;
}

.markdown ol > li {
  @apply list-decimal;
}

.markdown pre {
  @apply bg-gray-200 rounded-md px-4 py-3 overflow-x-auto;
}

.markdown p > code {
  @apply bg-gray-200 rounded-md px-2 py-1;
}

.markdown code {
  @apply break-words;
}

.markdown h1 {
  @apply text-6xl text-azure font-bold mt-16 mb-4 leading-snug;
}

.markdown h2 {
  @apply text-3xl text-azure font-bold mt-16 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl font-semibold mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply text-azure underline;
}

.markdown img,
.markdown video {
  @apply rounded-xl shadow drop-shadow-sm max-h-[400px];
}

.markdown blockquote {
  @apply text-gray-600 italic border-l-4 border-gray-400 pl-4;
}